<!DOCTYPE html>
<html lang = "ru"></html>
<head>
    <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <link rel="stylesheet" href="../static/css/style2.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
<h1>сборка!</h1>
<h3>У нас у всех перегорали лампочки...</h3>
<img src="../static/img/pozhar.png">
<h3>И мы их просто кидали в помойку</h3>
<img src="../static/img/bin.png">
<h3>А вы знали что с ними делали потом?</h3>
<h3>Их кидали в большую кучу</h3>
<img src="../static/img/lampochki.png"><br>
<img src="../static/img/musor.png">
<h3>Мы решили начать новую еру переработки лампочек.</h3>
<img src="../static/img/lamp.png">
<h3>Мы их забираем на мусоровозах нового поколения</h3>
<img src="../static/img/musorovoz.png">
<h3>Для лучшего будуйшего нашей планеты</h3>
<img src="../static/img/planet.gif">
<h3>И по малой цене!</h3>
<h3>Всего лишь 100 рублей в неделю!</h3>
<p>цена может меняться</p>
</body>
